{% extends 'base.html' %}
{% load static %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}
    
 <div class="container">
            
            <div class="row">
                <div class="col-12">
                
                <div class="form-logo">
                    <img src="{% static 'LocalMarket/img/logo/logo4.png' %}" alt="logo" style="height: 150px; width: 130px;">
                </div>
                    <div class="cr-login" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
                        <div class="form-logo">
                           <h2> Reset Your Password </h2>
                        </div>
                        <form class="cr-content-form" method="POST" action="{% url 'registerUser' %}">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                                <label>{{field.label}}</label>
                                        {{field}}
{#                                <label>Email Address*</label>#}
{#                                <input type="email" placeholder="Enter Your Email" class="cr-form-control">#}
                            </div>
                            {% endfor %}
                            <div class="login-buttons">
                                <button type="button" class="cr-button">Change my password</button>
                                <a href="{% url 'registerUser' %}" class="link">
                                    Signup?
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
 </div>
    


{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

{% endif %}
{%  endblock %}