{% extends 'base.html' %}
{% load static %}
{% block content %}
    
        <div class="container">
            
            <div class="row">
                <div class="col-12">
                    <div class="cr-login" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
                        <div class="form-logo">
                            <img src="{% static 'LocalMarket/img/logo/logo4.png' %}" alt="logo" style="height: 150px; width: 130px;">
                        </div>
                        
                        <form class="cr-content-form" method="POST" action="{% url 'registerUser' %}">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                                <label>{{field.label}}</label>
                                        {{field}}
{#                                <label>Email Address*</label>#}
{#                                <input type="email" placeholder="Enter Your Email" class="cr-form-control">#}
                            </div>
                            {% endfor %}
                            <div class="login-buttons">
                                <button type="button" class="cr-button">Submit</button>
                                <a href="{% url 'registerUser' %}" class="link">
                                    Signup?
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{%  endblock %}